div#expl
  p #[span.star *]#[strong Adjusted explaination]:
  p The average amount of points scored has changed over the years as the roster size has changed. In 2004, the average season total points for a team was 1258.79 points, but in 2010 the average was 2034.90 points. In order to compare points evenly, they need to be adjusted based on the average from each season.
  p The formula used for the adjusted points is:
  p: span#formula: strong adjusted pts = [(actual pts) / (year's average pts)] * (all time average pts)