mixin menuItem(activeUrl, menuString)
  if (url==activeUrl)
    h1.active: a(href="/" + activeUrl)= menuString
  else
    h1: a(href="/" + activeUrl)= menuString

+menuItem('statbook', 'Statbook')
+menuItem('statbook/machine', 'Stat Machine')
+menuItem('statbook/standings', 'Standings Overview')