extends layout

block content
  h1= title
  div.table-holder
    table
      thead
        tr
          th Record
          th Amount
          th Player
          th Year
          th Week
          th Notes
      tbody
        tr
          td Most Points - Week
          td 220.50
          td Kyle
          td 2010
          td 10
          td vs. Dan
        tr
          td Most Adjusted#[span.star *] Points
          td 191.15
          td Kyle
          td 2010
          td 10
          td vs. Dan, 220.50 Actual Points
        tr
          td Most Points - Season
          td 2306.76
          td Mike Goldman
          td 2011
          td
          td 3rd Place on Season
        tr
          td Most Adjusted#[span.star *] Points - Season
          td 2182.01
          td Kyle
          td 2008
          td
          td 1st Place on Season, 2139.92 Actual Points
        tr
          td Least Points - Week
          td 29.28
          td Anthony
          td 2005
          td 17
          td vs. Kyle
        tr
          td Least Adjusted#[span.star *] Points - Week
          td 32.44
          td Anthony
          td 2005
          td 17
          td vs. Kyle, 29.28 Actual Points
        tr
          td Least Points - Season
          td 1142.14
          td Mike Goldman
          td 2004
          td
          td 2nd Place on Season
        tr
          td Least Adjusted#[span.star *] Points - Season
          td 1455.14
          td Mike Hoyt
          td 2007
          td
          td 10th Place on Season, 1412.96 Actual Points
        tr
          td Most Points Allowed - Season
          td 2229.32
          td Mike Hoyt
          td 2012
          td
          td 10th Place on Season
        tr
          td Most Adjusted#[span.star *] Points Allowed - Season
          td 1984.39
          td Mike Hoyt
          td 2012
          td
          td 10th Place on Season, 2229.32 Actual Points
        tr
          td Least Points Allowed - Season
          td 1098.62
          td Mike Goldman
          td 2004
          td
          td 2nd Place on Season
        tr
          td Least Adjusted#[span.star *] Points Allowed - Season
          td 1457.52
          td Kyle
          td 2013
          td
          td 1st Place on Season, 1781.44 Actual Points
        tr
          td Largest Winning Margin in Match
          td 126.76
          td Mike Goldman
          td 2011
          td 7
          td 184.50 - 57.74 vs Ricky
        tr
          td Largest Total Points Margin  in Season
          td 344.90
          td Kyle
          td 2008
          td
          td 2139.92 Total Points, Matt's 1795.02 Next Closest, 1st Place on Season
        tr
          td Most Trades - Season
          td 17
          td Mike Hoyt
          td 2009
          td
          td 6th Place on Season
        tr
          td Most Transactions - Season
          td 140
          td Mike Hoyt
          td 2014
          td
          td 2nd Place on Season
        tr
          td Longest Winning Streak
          td 12
          td Mike Goldman
          td 2011
          td 2
          td Last Win of Streak in Week 2, 2011
        tr
          td Longest Losing Streak
          td 13
          td Mike Hoty
          td 2012
          td 16
          td Last Loss of Streak in Week 16, 2012
        tr
          td Longest Losing Streak
          td 13
          td Josh
          td 2013
          td 15
          td Last Loss of Streak in Week 15, 2013
  include expl