extends layout

block content
  div.column.left.desktop
  div#bets.column
    h1= title
    h2 2013
    p Who will score more fantasy points?  $20 bet.
      span.red Mike G. - Matt Ryan
      span.green Brian - Matt Stafford &#10004;
    h2 2015
    p Will Andrew Luck be the top scoring QB?  $10 bet.
      span Dan - Yes
      span Mike G. - No
    p Who will Score more fantasy points?  $20 bet.
      span Mike G. - LeSean McCoy
      span Ricky - Fred Jackson
    p Will Dan place in the top 3?  $40 bet.
      span Dan - Yes
      span Kyle - No
    p &#10004; means the bet has been paid.

block scripts
  include columns