extends layout

block content
  div.column.left.desktop
  div#bets.column
    h1= title
    h2 2013
    p Who will score more fantasy points?  $20 bet.
      span.red Mike G. - Matt Ryan
      span.green Brian - Matt Stafford &#10004;
    p &#10004; means the bet has been paid.